In [1]:
import pandas as pd
from prophet import Prophet
import datetime as dt
import numpy as np
%matplotlib inline

In [9]:
conflict_df = pd.read_csv("Resources\Wars.csv")
commoditiy_df = pd.read_csv("Resources\commdata.csv")

In [10]:
commoditiy_df

,Date,"Crude oil, average","Crude oil, Brent","Crude oil, Dubai","Crude oil, WTI","Coal, Australian","Coal, South African **","Natural gas, US","Natural gas, Europe","Liquefied natural gas, Japan",...,Aluminum,"Iron ore, cfr spot",Copper,Lead,Tin,Nickel,Zinc,Gold,Platinum,Silver
0,NaN,($/bbl),($/bbl),($/bbl),($/bbl),($/mt),($/mt),($/mmbtu),($/mmbtu),($/mmbtu),...,($/mt),($/dmtu),($/mt),($/mt),($/mt),($/mt),($/mt),($/troy oz),($/troy oz),($/troy oz)
1,1960M01,1.63,1.63,1.63,…,…,…,0.14,0.40,…,...,511.47,11.42,715.40,206.10,2180.40,1631.00,260.80,35.27,83.50,0.91
2,1960M02,1.63,1.63,1.63,…,…,…,0.14,0.40,…,...,511.47,11.42,728.19,203.70,2180.40,1631.00,244.90,35.27,83.50,0.91
3,1960M03,1.63,1.63,1.63,…,…,…,0.14,0.40,…,...,511.47,11.42,684.94,210.30,2173.80,1631.00,248.70,35.27,83.50,0.91
4,1960M04,1.63,1.63,1.63,…,…,…,0.14,0.40,…,...,511.47,11.42,723.11,213.60,2178.20,1631.00,254.60,35.27,83.50,0.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,2023M11,81.35,83.18,83.45,77.43,126.82,109.00,2.71,14.49,12.72,...,2202.26,131.07,8189.59,2188.46,24167.86,17027.36,2543.61,1984.11,905.75,23.49
768,2023M12,75.72,77.86,77.22,72.08,141.82,108.83,2.53,11.51,14.44,...,2182.43,137.05,8399.94,2026.91,24600.26,16460.84,2502.39,2026.18,935.47,23.88
769,2024M01,77.67,80.23,78.86,73.93,124.90,106.75,3.18,9.56,14.34,...,2192.82,135.82,8338.88,2086.12,25099.84,16103.83,2515.42,2034.04,925.86,22.92
770,2024M02,80.55,83.76,81.18,76.70,124.22,105.19,1.72,8.15,13.64,...,2179.46,124.39,8304.95,2079.83,26104.10,16338.46,2360.09,2023.24,894.29,22.66
771,2024M03,83.55,85.45,84.70,80.49,131.49,104.84,1.50,8.55,13.54,...,2226.16,109.79,8689.13,2056.20,27450.46,17438.83,2461.04,2158.01,908.75,24.52

In [18]:
# Define the format string for parsing the date strings (YYYYMM)
format_string = "%Y%m"

# Apply pandas.to_datetime with error handling
commoditiy_df["Date"] = pd.to_datetime(commoditiy_df["Date"], format=format_string, errors="coerce")

# Optional: Extract month and year as separate columns
commoditiy_df["month"] = commoditiy_df["Date"].dt.month_name()
commoditiy_df["year"] = commoditiy_df["Date"].dt.year

# Print or save the modified dataframe
print(commoditiy_df)  # Print the dataframe
commoditiy_df.to_csv("commdataclean.csv", index='Date')  # Save to a new CSV file (optional)

          Date Crude oil, average Crude oil, Brent Crude oil, Dubai  \
0          NaT            ($/bbl)          ($/bbl)          ($/bbl)
1   1960-01-01               1.63             1.63             1.63
2   1960-02-01               1.63             1.63             1.63
3   1960-03-01               1.63             1.63             1.63
4   1960-04-01               1.63             1.63             1.63
..         ...                ...              ...              ...
767 2023-11-01              81.35            83.18            83.45
768 2023-12-01              75.72            77.86            77.22
769 2024-01-01              77.67            80.23            78.86
770 2024-02-01              80.55            83.76            81.18
771 2024-03-01              83.55            85.45            84.70

    Crude oil, WTI Coal, Australian Coal, South African ** Natural gas, US  \
0          ($/bbl)           ($/mt)                 ($/mt)       ($/mmbtu)
1                …                …                      …            0.14
2                …                …                      …            0.14
3                …                …                      …            0.14
4                …                …                      …            0.14
..             ...              ...                    ...             ...
767          77.43           126.82                 109.00            2.71
768          72.08           141.82                 108.83            2.53
769          73.93           124.90                 106.75            3.18
770          76.70           124.22                 105.19            1.72
771          80.49           131.49                 104.84            1.50

    Natural gas, Europe Liquefied natural gas, Japan  ...   Copper     Lead  \
0             ($/mmbtu)                    ($/mmbtu)  ...   ($/mt)   ($/mt)
1                  0.40                            …  ...   715.40   206.10
2                  0.40                            …  ...   728.19   203.70
3                  0.40                            …  ...   684.94   210.30
4                  0.40                            …  ...   723.11   213.60
..                  ...                          ...  ...      ...      ...
767               14.49                        12.72  ...  8189.59  2188.46
768               11.51                        14.44  ...  8399.94  2026.91
769                9.56                        14.34  ...  8338.88  2086.12
770                8.15                        13.64  ...  8304.95  2079.83
771                8.55                        13.54  ...  8689.13  2056.20

          Tin    Nickel     Zinc         Gold     Platinum       Silver  \
0      ($/mt)    ($/mt)   ($/mt)  ($/troy oz)  ($/troy oz)  ($/troy oz)
1     2180.40   1631.00   260.80        35.27        83.50         0.91
2     2180.40   1631.00   244.90        35.27        83.50         0.91
3     2173.80   1631.00   248.70        35.27        83.50         0.91
4     2178.20   1631.00   254.60        35.27        83.50         0.91
..        ...       ...      ...          ...          ...          ...
767  24167.86  17027.36  2543.61      1984.11       905.75        23.49
768  24600.26  16460.84  2502.39      2026.18       935.47        23.88
769  25099.84  16103.83  2515.42      2034.04       925.86        22.92
770  26104.10  16338.46  2360.09      2023.24       894.29        22.66
771  27450.46  17438.83  2461.04      2158.01       908.75        24.52

        month    year
0         NaN     NaN
1     January  1960.0
2    February  1960.0
3       March  1960.0
4       April  1960.0
..        ...     ...
767  November  2023.0
768  December  2023.0
769   January  2024.0
770  February  2024.0
771     March  2024.0

[772 rows x 74 columns]

In [16]:
# Define the format string for parsing the date strings (YYYYMM)
format_string = "%Y%m"

# Apply pandas.to_datetime with error handling
commoditiy_df["Date"] = pd.to_datetime(commoditiy_df["Date"], format=format_string, errors="coerce")

# "coerce" replaces errors (including NaT) with NaT


# Apply custom parsing function
commoditiy_df["Date"] = commoditiy_df["Date"].apply(custom_date_parser)
# Define the format string for parsing the date strings (YYYYMM)
format_string = "%Y%m"

# Apply pandas.to_datetime with the format string
commoditiy_df["Date"] = pd.to_datetime(commoditiy_df["Date"], format=format_string)

# Optional: Extract month and year as separate columns
commoditiy_df["month"] = commoditiy_df["Date"].dt.month_name()
commoditiy_df["year"] = commoditiy_df["Date"].commodity_df.year

# Print or save the modified dataframe
print(commoditiy_df)  # Print the dataframe
# df.to_csv("output.csv", index=False)  # Save to a new CSV file (optional)

TypeError: 'Timestamp' object is not subscriptable